body {
  padding-top: 5%;
  color: rgb(13, 32, 48);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* write{

} */

form {
  width: 70%;
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

th {
  font-weight: 20px;
  border: 1px solid #467740;
  background-color: aliceblue;
}

#caption{
  /* background-color:rgba(0, 0, 0, 0.747);
   */
  margin-left: auto;
  margin-right: auto;
}